# Data Input and Processing
This Jupyter Notebook contains code that takes the raw data files from Statistics Sweden and produces the files that are used in the analysis.

## The data from Statistics Sweden:
Occupational Transitions betweeen 2016 and 2017
Seasonally adjusted vacancy and employment data between 2004 and 2019
Seasonally and Calender adjusted unemployment data between 2004 and 2019
Employment data by SSYK occupational code between 2016 and 2018 (THESE DATES SHOULD BE DOUBLE CHECKED)

## In addition to the data from Statistics Sweden, Computerisation Probabilities from Frey & Osborne is used
This data was developed for the american SOC (System for Occupational Classifications) and has to be translated to match Swedish data
First the data is translated to ISCO using a key from (FINISH SENTENCE)
Then the data is translated using a key found on Statistics Sweden's website

In [5]:
# Required packages (check which are required)
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
import networkx as nx
import pandas as pd
import numpy as np
import scipy as sp
import datetime as dt
import community
from shapely.geometry import Polygon

import statsmodels.tsa.api as tsa

import random
import math

import cmocean as cmo

# Write files

%matplotlib inline

# Occupational transitions and the Adjacency matrix

In [6]:
# This is where the occupation transition data (as well as occupation code keys) is imported

data = pd.read_csv('../Data_Labour/swedish_occupation_transitions.csv', sep = ';', index_col = 0)
data.index.name = None
data = data.drop(axis = 1, labels = 'Totalsumma')
data = data.drop(axis = 1, index = 'Totalsumma')
last = data.index[-1]
data = data.rename(index={last: 'NULL'})

# Drop Null and '***' columns
data = data.iloc[0:148, 0:148]

# ['31', '21', '11'] Are actually meant to be '031', '021' and '011'. The 0 denotes that these are military occupations. The data from Frey and Osborne do not cover military information which means that we cannot include it in our analysis
data.drop(labels = ['31', '21', '11'], axis = 0, inplace = True)
data.drop(labels = ['31', '21', '11'], axis = 1, inplace = True)

# This section calculates the adjacency matrix A from the raw data

A = pd.DataFrame(np.zeros(data.shape), columns = data.columns, index = data.index)

for i in range(data.shape[0]):
    total = 0
    for t in range(data.shape[1]):
        if math.isnan(data.iloc[i,t]) != True:
            total += data.iloc[i,t]
        else:
            data.iloc[i, t] = 0

    for j in range(data.shape[1]):
        T = data.iloc[i,j]
        A.iloc[i,j] = (T/total)

A.index = A.index.map(str)
A.columns = A.columns.map(str)

row_nonzeros = np.count_nonzero(A, axis=0)
col_nonzeros = np.count_nonzero(A, axis=1)

for i in range(len(row_nonzeros)):
    if row_nonzeros[i] == col_nonzeros[i] & row_nonzeros[i] == 1:
        print(A.columns[i])

# SSYK 323 and 622 only has selfloops and are not connected to the main component of the graph -> including them or not does not make a difference in the analysis

# data.drop(labels = ['323', '622'], axis = 0, inplace = True)
# data.drop(labels = ['323', '622'], axis = 1, inplace = True)

# A.drop(labels = ['323', '622'], axis = 0, inplace = True)
# A.drop(labels = ['323', '622'], axis = 1, inplace = True)

G = nx.from_pandas_adjacency(A, create_using = nx.DiGraph)

data.to_csv('../Data_Labour/Occupation_transitions.csv', sep = ',')
nx.write_graphml(G, '../Data_Labour/Occ_mob_sweden.graphml')

323
622

# Frey & Osborne Computerisation Probabilities

In [7]:
# This is where the automation shock data from Frey and Osborne is imported and processed between occupation classification systems

frey_osborne = pd.read_csv('../Data_Labour/osborne_frey_data.csv', sep = ';', index_col = 0)

SOC_shock = frey_osborne[['Probability', 'SOC code']]
SOC_shock.columns = ['Computerisation Probability', 'soc10']

for i in range(len(SOC_shock['soc10'])):
    SOC_shock.iloc[i,1] = SOC_shock.iloc[i,1][0:2] + SOC_shock.iloc[i,1][3:7]
    #SOC_shock.iloc[i,1] = SOC_shock.iloc[i,1]


SOC_ISCO = pd.read_csv('../Data_Labour/soc10_isco08.csv', sep = ',')
for i in range(len(SOC_ISCO['isco08'])):
    SOC_ISCO.iloc[i,1] = str(SOC_ISCO.iloc[i,1])
    SOC_ISCO.iloc[i,0] = str(SOC_ISCO.iloc[i,0])
    # if len(SOC_ISCO.iloc[i,1]) == 3:
    #     SOC_ISCO.iloc[i,1] = '0' + SOC_ISCO.iloc[i,1]

ISCO_SSYK = pd.read_csv('../Data_Labour/nyckel_ssyk2012_isco-08.csv', sep = ';')
ISCO_SSYK = ISCO_SSYK[['SSYK 2012 kod','ISCO-08 ']]
ISCO_SSYK.columns = ['ssyk12', 'isco08']

for i in range(len(ISCO_SSYK['isco08'])):
    ISCO_SSYK.iloc[i,1] = str(ISCO_SSYK.iloc[i,1])
    ISCO_SSYK.iloc[i,0] = str(ISCO_SSYK.iloc[i,0])


# The file above contains many duplicates
ISCO_SSYK.drop_duplicates(inplace=True)

# Below transfers SOC_shock to SSYK_shock
ISCO_shock = pd.merge(SOC_shock, SOC_ISCO, on = 'soc10')

SSYK_shock = pd.merge(ISCO_shock, ISCO_SSYK, on = 'isco08')


# The codes are 4 level need to be 3 level. Only need to change final table (SSYK_shock)
SSYK_shock['ssyk3'] =  [code[0:3] for code in SSYK_shock['ssyk12']]

SSYK3_shock = SSYK_shock[['Computerisation Probability', 'ssyk3']]
SSYK3 = list(SSYK3_shock['ssyk3'])

SSYK3_shock = SSYK3_shock.groupby(['ssyk3']).mean()

print(SSYK3_shock)
G = nx.from_pandas_adjacency(A, create_using = nx.DiGraph)
SSYK3_fromnw = list(G.nodes)
SSYK3_fromnw = [str(node) for node in SSYK3_fromnw]

SSYK3_shock.to_csv('../Data_Labour/occupation_shock.csv', sep = ',')

# PRoblem is that certain SOC codes in osborne frey have been abbreviated with 0s. Which makes the matching miss a few rows
# This problem can be fixed

# SOC codes that are not found in the SOC-ISCO translation file
# print(set(SOC_shock['soc10'])-set(SOC_ISCO['soc10']))
# {'292037', '292055', '499799', '291060', '394831', '319799', '292799', '251000', '253999', '151179', '474799', '131078', '452090', '299799', '151150', '151799', '519399', '291111'}

# Focus on '251000', '151150', '291060'
# 291060 solves 221 because 291060 doesnt exist in soc_isco
# 291141, 291151, 291171, 291161 <- 222
# 29-1111 is not used anymore, 29-1141 should be used instead: https://www.onetonline.org/find/quick?s=29-1111

# 231 ssyk: soc_isco översätter till isco 2310 som inte existerar i isco_ssyk nykeln där det istället är 231X. Bör alltså gå att lösa
# 251000: Post-secondary teachers is translated as 2310 SSYK

# SSYK codes not found in ISCO-SSYK translation file
# print(list(set(SSYK3_fromnw) - set(SSYK3)))
# ['221', '21', '11', '222', '231', '31']
# ['21', '11', '31'] are military occupations and we do not have computersiation probabilities for these

# focus on ['221', '222', '231']

Computerisation Probability
ssyk3
111                       0.100500
112                       0.087500
121                       0.069000
122                       0.323933
123                       0.423125
...                            ...
933                       0.528000
941                       0.886250
952                       0.920000
961                       0.629667
962                       0.828846

[145 rows x 1 columns]

# Deviations from potential GDP from Konjunktur Institutet

In [8]:
gdp_gap = pd.read_csv('../Data_Labour/bnp-gap.csv', sep = ';')
gdp_gap['Qtr'] = pd.to_datetime(gdp_gap.date).dt.quarter
gdp_gap['date'] = [gdp_gap['date'].iloc[i][0:4] + 'Q' + str(gdp_gap['Qtr'].iloc[i]) for i in range(len(gdp_gap['date']))]
gdp_gap['recession'] = [1 if gap <= 0 else 0 for gap in list(gdp_gap['BNP-gap'])]
gap_offset = zip(gdp_gap['BNP-gap'].iloc[1:],gdp_gap['BNP-gap'].iloc[:-1])
change_ls = [(gap_t1 - gap_t0)/gap_t0 for gap_t1, gap_t0 in gap_offset]
change_ls.insert(0,float('NaN'))
gdp_gap['gap_change'] = change_ls
gdp_gap.rename(columns = {'BNP-gap': 'gdp_gap'}, inplace = True)

# Data from Statistics Sweden

In [9]:
# Data for calibrating and setting up the model
employment_SSYK = pd.read_csv('../Data_Labour/employment_SSYK.csv', sep = ',')
employment_SSYK.rename(columns = {'Yrke (SSYK 2012)':'SSYK'}, inplace = True)
employment_SSYK.to_csv('../Data_Labour/occupational_employment.csv', sep = ',')
# SSYK code and years as columns

# New calibration data - seasonally adjusted
employment_sa = pd.read_csv('../Data_Labour/employment_quarterly.csv', sep = ';')
employment_sa['date'] = [str(2000 + employment_sa['year'].iloc[i])+'Q'+str(employment_sa['quarter'].iloc[i]) for i in range(len(employment_sa))]
employment_sa = employment_sa[['date', 'e_sa', 'e_trend']]
employment_sa['e_sa'] = [int(float(string.replace(',','.'))*1000) for string in employment_sa['e_sa']]
employment_sa['e_trend'] = [int(float(string.replace(',','.'))*1000) for string in employment_sa['e_trend']]


unemployment_all = pd.read_csv('../Data_Labour/unemployment_quarterly.csv', sep = ';')
unemployment_all['date'] = [str(2000 + unemployment_all['year'].iloc[i])+'Q'+str(unemployment_all['quarter'].iloc[i]) for i in range(len(unemployment_all))]
unemployment_sa = unemployment_all[['date', 'u_sa', 'u_trend']]

unemployment_sa['u_sa'] = [float(string.replace(',','.')) for string in unemployment_sa['u_sa']]
unemployment_sa['u_trend'] = [float(string.replace(',','.')) for string in unemployment_sa['u_trend']]

vac_rate_all = pd.read_csv('../Data_Labour/Vacancy Data/sa_2004-2019.csv', sep = ';')

sa_calibration_data = pd.merge(unemployment_sa, vac_rate_all[['date', 'sa_vac', 'na_vac']], on ='date')
sa_calibration_data = pd.merge(sa_calibration_data, employment_sa, on = 'date')
sa_calibration_data = pd.merge(sa_calibration_data, gdp_gap[['date', 'recession', 'gap_change']], on = 'date')

sa_calibration_data['sa_vac_rate'] = sa_calibration_data['sa_vac']*100/(sa_calibration_data['e_trend']+sa_calibration_data['sa_vac'])

sa_calibration_data.to_csv('../Data_Labour/calibration_data.csv', sep = ',')

# Hours worked data (from Statistics Sweden)

In [10]:
hours_worked = pd.read_csv('../Data_Labour/hours_worked_sa.csv', sep =',')

In [11]:
employment_SSYK

     SSYK    2014    2015    2016    2017    2018
0      11     875    1550    1367    1192    1116
1      21    2173    1344    1133     916     828
2      31    7387    6811    6349    6169    5849
3     111    3876    3676    3889    3921    3028
4     112   22860   23000   24598   22676   21895
..    ...     ...     ...     ...     ...     ...
144   941   68912   77998   77340   79024   79038
145   952     121     142     149     157     190
146   961    8379    8622    8875    8819    9000
147   962   38426   38701   39224   39889   39719
148     2  286298  237953  232947  209917  198085

[149 rows x 6 columns]

In [13]:
sa_calibration_data.iloc[50:]

,date,u_sa,u_trend,sa_vac,na_vac,e_sa,e_trend,recession,gap_change,sa_vac_rate
50,2016Q3,6.8,6.89,99220,83466,4903900,4917590,0,-0.098074,1.977751
51,2016Q4,6.9,6.82,106052,92201,4946200,4946880,0,0.219768,2.098821
52,2017Q1,6.7,6.77,108648,127413,4990100,4981000,0,-0.392544,2.134686
53,2017Q2,6.7,6.72,109136,120983,5009300,5011040,0,2.170210,2.131489
54,2017Q3,6.7,6.64,114174,97724,5037600,5034600,0,0.693989,2.217499
55,2017Q4,6.5,6.47,117079,101456,5049900,5057370,0,-0.199542,2.262637
56,2018Q1,6.2,6.31,120431,140586,5080600,5078690,0,0.197776,2.316372
57,2018Q2,6.3,6.26,120501,133526,5095400,5093580,0,0.105424,2.311069
58,2018Q3,6.4,6.33,120592,103403,5096900,5102530,0,-0.633403,2.308811
59,2018Q4,6.4,6.46,120861,103726,5114500,5108280,0,1.224554,2.311297
60,2019Q1,6.8,6.62,122679,143769,5115800,5113630,0,-0.358062,2.342853
61,2019Q2,6.5,6.77,122679,136739,5121300,5121390,0,-0.319070,2.339386
62,2019Q3,6.9,6.85,116940,99187,5134000,5133770,0,-0.194320,2.227127
63,2019Q4,6.8,6.86,114620,96569,5152500,5150320,0,-0.657539,2.177043